body {
    font-family: 'Work Sans', sans-serif;
}

.navbar {
    padding-top: 3em;
    padding-bottom: 3em;
}

.team {
    width: 7em;
}

#tech, #operations, #degree, #core, #college, #life, #registrar {
    padding: 1.2%;
    font-size: 1.1em;
}

#tech ul, #operations ul, #degree ul, #core ul, #college ul, #life ul, #registrar ul {
    margin-left: 20%;
}

#tech ul li, #operations ul li, #degree ul li, #core ul li, #college ul li, #life ul li, #registrar ul li {
    text-align: left;
    margin-right: 15%;
    width: 10rem;
}

#tech, .techInfo {
    background-color: rgba(208, 13, 45, 0.815);
    color: aliceblue;
}

#operations {
    background-color: rgba(0, 45, 109, 0.815);
}

#degree {
    background-color: #758592a8;
}

#degreeDropDown {
    margin-left: 20%;
}

#core {
    background-color: #FAB500;
}

#college {
    background-color: #00A585;
}