body {
    font-family: 'Work Sans', sans-serif;
}

#tech, #operations, #degree, #core {
    padding: 1.2%;
    font-size: 1.1em;
}

#tech ul, #operations ul, #degree ul, #core ul {
    margin-left: 20%;
}

#tech ul li, #operations ul li, #degree ul li, #core ul li {
    text-align: left;
    margin-right: 15%;
    width: 10rem;
}

#tech, .techInfo {
    background-color: rgba(208, 13, 45, 0.815);
    color: aliceblue;
}

#operations {
    background-color: rgba(0, 45, 109, 0.815);
}

#degree {
    background-color: #758592a8;
}